.id_style{

}

.id_container{

}

.cls_toma_canal .id_container{
    border: 0;
}

.cls_toma_canal .cls_link{
    display: flex;
}

main .cls_toma_canal.cls_left .cls_wrap_link,
main .cls_toma_canal.cls_right .cls_wrap_link{
    position: fixed;
    z-index: 2;
}

main .cls_toma_canal.cls_left .cls_wrap_link{
    transform: translate3d(-100%, 0, 0);
}

main .cls_toma_canal.cls_right .cls_wrap_link{
    transform: translate3d(0, 0, 0);
}

.cls_tc main{
    position: relative;
    display: block;
}

.cls_toma_canal.cls_left{
    position: absolute;
    top: 0;
    left: 0;
}

.cls_toma_canal.cls_left .cls_link{
    transform: translate3d(-25vw, 0, 0);
    transition: transform 500ms ease-in;
}

main .cls_toma_canal.cls_left .cls_link.cls_loaded{
    /*transform: translate3d(-100%, 0, 0);*/
}

.cls_toma_canal.cls_left .cls_link.cls_loaded{
    transform: translate3d(0, 0, 0);
}

.cls_toma_canal.cls_left .cls_link.cls_link_ie.cls_loaded,
.cls_toma_canal.cls_left .cls_link_ie.cls_loaded{
    transform: translate3d(-100%, 0, 0);
}

.cls_toma_canal.cls_top .cls_link{
    transform: translate3d(0, -100%, 0);
    transition: transform 500ms ease-in;
}

.cls_toma_canal.cls_top .cls_link.cls_loaded{
    transform: translate3d(0, 0, 0);
}

.cls_toma_canal.cls_right{
    position: absolute;
    top: 0;
    right: 0;
}

.cls_toma_canal.cls_right .cls_link{
    transform: translate3d(25vw, 0, 0);
    transition: transform 500ms ease-in;
}

main .cls_toma_canal.cls_right .cls_link.cls_loaded{
    /*transform: translate3d(0, 0, 0);*/
}

.cls_toma_canal.cls_right .cls_link.cls_loaded,
.cls_toma_canal.cls_left .cls_link.cls_loaded{
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in-out;
}

body.cls_fly .cls_toma_canal.cls_right .cls_link,
body.cls_fly .cls_toma_canal.cls_left .cls_link{
    transform: translate3d( 0, 45px, 0);
}


body.cls_fly .cls_toma_canal.cls_left .cls_link.cls_link_ie,
body.cls_fly .cls_toma_canal.cls_left .cls_link_ie
{
    transform: translate3d( -100%, 45px, 0);
}
body.cls_fly .cls_toma_canal.cls_right .cls_link_ie,
body.cls_fly .cls_toma_canal.cls_right .cls_link.cls_link_ie{
    transform: translate3d( 0, 45px, 0);
}
.cls_link_ie{
    position: absolute;
}